.*{
    box-sizing: border-box;
}
.container{
    border: 2px solid white;
    background-color: black;
    
}
.container .heading{
    padding: 20px;
/*     background-color:grey;*/
}
.container .heading h1{
    color: beige;
    font-weight: bold;
    text-align: center;
}
.container .heading p{
    text-align: center;
    color: orange;
    
}
.selectcategory {
    color:blue;
   
/*    background-color: black;*/
    border-radius: 10px;
}
.selectcategory option{
    background-color: black;
    
}
input{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding:7px
}
label{
    color: beige;
}
.pricing{
/*    background-color: dimgrey;*/
}
.pricing h1{
     
    color: beige;
    font-weight: bold;
}
 p{
    color: orange;
    
}
h3{
    color: white;
}

.termsofagreement h1