.*{
    box-sizing: border-box;
}
.container{
    border: 2px solid white;
    background-color: black;
    
}
.container .heading{
    padding: 20px;
/*     background-color:grey;*/
}
.container .heading h1{
    font-size:5em;
    color: burlywood;
    font-weight: bold;
    text-align: center;
}
.container .heading p{
    text-align: center;
    color: orange;
    font-size:20px;
    
}
#selectcategory {
    color:black;
    padding: 7px;
    border-radius: 10px;
}
#selectcategory option{
    background-color: black;
    
}

input{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding:7px;
}
label{
    color: beige;
    font-size:16px;
}
.pricing{
/*    background-color: dimgrey;*/
}
.pricing h1{
     
    color: burlywood;
    font-weight: bold;
}

.payment h1{
     color: burlywood;
     font-weight: bold;
}
.termsofagreement h1{
     color: burlywood;
     font-weight: bold;
}
.travel h1{
     color: burlywood;
     font-weight: bold;
}
.travel p{
    color: orange;
}
 p{
    color: orange;
    
}
h3{
    color: white;
}
